/* :root {
  --primaty-color-heading: #2e2f42;
} */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.contact {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* ======================COMPONENTS======================  */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.heading-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  color: #434455;
}

/*====================== LOGO ======================  */
.logo-site {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.9;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.part-logo {
  color: #4d5ae5;
}
/*====================== NAVIGATION ====================== */
.link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.67;
  color: #2e2f42;
}
/*====================== CONTACTS ====================== */
.link-item:focus,
.link-item:hover {
  color: #404bbf;
}
.contact-item:focus,
.contact-item:hover {
  color: #404bbf;
}
/*====================== ADDRESS ====================== */
.contact-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  color: #434455;
}
/*====================== HERO BANER ====================== */
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  text-align: center;
  color: #d9d9d9;
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.67px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  gap: 10px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/*====================== SOLUTION ====================== */

/*====================== WHAT ARE WE DOING ====================== */

/*====================== FOOTER  ======================*/
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  /* color: #f4f4fd; */
}
