:root {
  --primaty-color-heading: #2e2f42;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.contact {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
/* COMPONENTS  */
.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  text-align: center;
  text-transform: capitalize;
  color: var(--primaty-color-heading);
}
.heading-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83;
  color: var(--primaty-color-heading);
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  color: #434455;
}
/* LOGO  */
.logo-site {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 0.9;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.part-logo {
  color: #4d5ae5;
}
/* NAVIGATION  */
.link-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.67;
  color: var(--primaty-color-heading);
}
/* ADDRESS  */
.contact-item {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  color: #434455;
}
/* HERO BANER  */
.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;
  text-align: center;
  color: #d9d9d9;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 0.67px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}
/* SOLUTION  */

/* WHAT ARE WE DOING  */

/* FOOTER  */
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 0.67;
  /* color: #f4f4fd; */
}
